<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      We received your inquiry and we have you covered! Our team will select the best offices for you, expect to hear from us withing a day or two.
    </h1>
    <p>If you have any questions before I comeback to you. You can text or call me at 031-123-4567.</p>
  </body>
</html>