<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @inquiry.email %></h1>
    <p>
      Jag heter <%= @inquiry.broker.name %>, jag har nu börjat arbeta med din förfrågan.
      Om du har några frågor innan jag återkommer till dig, så kan du nå mig på <%= @inquiry.broker.email %> eller ringa/smsa mig på 031-123-4567
    </p>
  </body>
</html>