<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>
      Vi fick din förfrågan! Vårt team kommer att välja de bästa kontoren för just dig, förvänta att höra från oss om en dag eller två.
    </h1>
    <p>
      Om du har några frågor innan jag återkommer till dig, så kan du skicka ett sms eller ringa mig på 031-123-4567.
    </p>
  </body>
</html>