<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @inquiry.email %></h1>
    <p>
      I'm <%= @inquiry.broker.name %>, I have now started to work on your submission.
      If you have any questions before I comeback to you. Then you can reach me on <%= @inquiry.broker.email %> or 031-123-4567
    </p>
  </body>
</html>